[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=1.11"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
"psycopg2" = "*"

[dev-packages]
pylint = "<2.0.0"
coverage = "*"
tox = "*"
"flake8" = "*"
ipython = "*"
